name: Anizium Scraper

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb
          pip install seleniumbase
          seleniumbase install chromedriver

      - name: Run Scraper
        # Ekran görüntüsü alabilmesi için xvfb kullanıyoruz
        run: xvfb-run python main.py

      # --- YENİ EKLENEN KISIM: HATA FOTOĞRAFINI YÜKLE ---
      - name: Upload Debug Screenshot
        if: always() # Hata olsa bile çalışır
        uses: actions/upload-artifact@v4
        with:
          name: debug-screenshots
          path: ./*.png
          retention-days: 1

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          
          # Dosya yoksa boş oluştur
          touch anizium.m3u anizium.json
          
          git add anizium.m3u anizium.json
          git diff-index --quiet HEAD || git commit -m "Playlist Guncellendi"
          git push
