name: Anizium Scraper

on:
  schedule:
    - cron: '0 */6 * * *' # Her 6 saatte bir çalışır
  workflow_dispatch: # Manuel tetikleme için

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run Scraper
        env:
          ANIZIUM_EMAIL: ${{ secrets.ANIZIUM_EMAIL }}
          ANIZIUM_PASSWORD: ${{ secrets.ANIZIUM_PASSWORD }}
        run: python main.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add anizium.m3u anizium.json
          git commit -m "Update playlists" || echo "No changes to commit"
          git push
