name: Anizium Scraper

on:
  schedule:
    - cron: '0 */6 * * *' # 6 saatte bir çalışır
  workflow_dispatch: # Manuel tetikleme butonu

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # AŞAĞIDAKİ SATIR ÇOK ÖNEMLİ, EKSİK OLDUĞU İÇİN HATA ALIYORSUN:
          pip install requests curl_cffi

      - name: Run Scraper
        run: python main.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          
          # Dosyaları garantiye al
          touch anizium.m3u anizium.json
          
          git add anizium.m3u anizium.json
          
          # Değişiklik varsa commit at, yoksa devam et
          git diff-index --quiet HEAD || git commit -m "Playlist Guncellendi"
          git push
